<!doctype html>
<html lang="en">
  <head>
    {% include meta.html %}

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/ress/dist/ress.min.css"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/image/favicon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/image/favicon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/image/favicon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/image/favicon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/image/favicon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/image/favicon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/image/favicon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/image/favicon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/image/favicon-180x180.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/image/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/image/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/image/favicon-192x192.png">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/image/favicon.ico">
    <link rel="icon" type="image/x-icon" href="/assets/image/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/image/favicon-144x144.png">
    <meta name="msapplication-config" content="/assets/image/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.4/plyr.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.css" integrity="sha384-Um5gpz1odJg5Z4HAmzPtgZKdTBHZdw8S29IecapCSB31ligYPhHQZMIlWLYQGVoc" crossorigin="anonymous">

  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}"/></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav class="nav-menu">
            {% include navigation.html %}
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {%- if site.footer_links -%}
          <div class="social-icons">
            {%- for footer_link in site.footer_links -%}
            {%- if footer_link.url contains "://" -%}
            {%- assign url = footer_link.url -%}
            {%- else -%}
            {%- assign url = footer_link.url | relative_url -%}
            {%- endif -%}
            <a class="social-icon" href="{{ url }}"><i class="{{ footer_link.icon | default: 'fa fa-link' }} fa-2x" title="{{ footer_link.title }}"></i></a>
            {%- endfor -%}
          </div>
          {%- endif -%}

          <div class="copyright">
            {% if site.copyright %}
            {{ site.copyright | markdownify }}
            {% else %}
            <p>&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.name }}. Powered by <a href="https://jekyllrb.com" rel="nofollow">Jekyll</a> &amp; <a href="https://github.com/hakerdefo/forever-jekyll" rel="nofollow">Forever Jekyll</a>.</p>
            {% endif %}
          </div>    
        </footer>
      </div>
    </div>

    <script src="https://cdn.plyr.io/3.6.4/plyr.polyfilled.js"></script>
    <script>
      const player = new Plyr('#player');
    </script>
    <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
    <script type="text/javascript">
      const lightbox = GLightbox({
          touchNavigation: true,
          loop: true,
          autoplayVideos: true
      });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>mermaid.initialize({startOnLoad:true});</script>

    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.js" integrity="sha384-YNHdsYkH6gMx9y3mRkmcJ2mFUjTd0qNQQvY9VYZgQd7DcN7env35GzlmFaZ23JGp" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@latest/dist/contrib/auto-render.min.js"
            onload="renderMathInElement(document.body,{
                    delimiters: [
                    { left: '$$',  right: '$$',  display: true  },
                    { left: '$',   right: '$',   display: false },
                    { left: '\\[', right: '\\]', display: true  },
                    { left: '\\(', right: '\\)', display: false }
                    ]});">
    </script>

  </body>
</html>
